[submodule "backend"]
	path = backend
	url = git@github.com:nalbandyanmisha/devhunter-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/nalbandyanmisha/devHunter-frontend.git
